*{
    padding: 0;
    margin: 0;
}
.nav-floating{
    display: none ;
    position: fixed;
    top: 0px;
    transition: 2s ease-in;
    z-index: 9999;
}
.Navbar{
    background-color: black;
    position: relative;
    padding-right: 20px;

}
.Navbar-brand img{
position: absolute;
top: -32px;
left: 20px;
}
.Navbar ul li{
    font-size: 18px;
    list-style: none;
    padding: 15px 20px;
    color: #6e6d6d;
}
.Navbar ul li:hover{
    background-color: #f9e800bd;
    transition: 2s all;
    border-radius: 5px;
}
.Navbar ul li:hover a{
    color: #f8f8f8;
    text-decoration: none;
}
.Navbar ul li a{
    color: #6e6d6d;
    text-transform: uppercase;
    font-weight: 600;
}
.progress-container {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #353535;
  }
  
  .progress-bar {
    height: 4px;
    border-radius: 5px;
    background: #f9e900;
    width: 0%;
  }
@media screen and (max-width: 991px) {
    .Navbar ul li{
        font-size: 16px;
        list-style: none;
        padding: 15px 10px;
        color: #6e6d6d;
    }
}
@media screen and (max-width: 768px) {
    .nav-floating{
      display: none !important;
    }

    .Navbar ul li{
        font-size: 16px;
        list-style: none;
        padding: 15px 10px;
        color: #6e6d6d;
    }
}